<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>注单</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="__PUBLIC__/Cs/frame/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/Cs/frame/mystyle.css" />
		<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
	</head>

	<body>
		<div class="my-btn-box">
			<form class="layui-form" action="{:U(Game/betLog)}" method="get">
				<span class="fl sl">
					 <div class="layui-form-item">
					    <!-- <div class="layui-input-inline" style="width: 100px;">
					      <select name="city1">
					        <option value="0">全部类型</option>
					        <option value="1">赛车</option>
					        <option value="2">时时彩</option>
					        <option value="3">快艇</option>
					      </select>
					    </div> -->
					    <div class="layui-input-inline" style="width: 100px;">
					      <select name="game_id">
					        {$game_form}
					      </select>
					    </div>
					    <div class="layui-input-inline" style="width: 100px;">
					      <select name="room_id">
					        {$site_form}
					      </select>
					    </div>
					    <div class="layui-input-inline" style="width: 100px;">
					      <select name="zone">
					        {$zone_form}
					      </select>
					    </div>
					    <input type="hidden" name="id" value="{$id}">
					  </div>
				</span>
				<span class="fr">
	     		   <span class="layui-form-label">搜索条件：</span>
					<div class="layui-input-inline">
						<input type="text" autocomplete="off" name="user_name" placeholder="请输入账号" class="layui-input" value="{$user_name}">
					</div>
					<button class="layui-btn mgl-20">查询</button>
				</span>
    		</form>
		</div>
		<div class="layui-form">
			<table class="layui-table"> 
				<!-- <colgroup>
					<col width="50">
					<col width="100">
					<col width="100">
					<col width="100">
					<col width="100">
					<col width="100">
					<col width="100">
					<col width="100">
				</colgroup> -->
				<thead>
					<tr>
						<th>会员账号</th>
						<th>彩种类型</th>
						<th>房间</th>
						<th>玩法</th>
						<th>区号</th>
						<th>金额</th>
						<th>结果金额</th>
						<th>下注时间</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="data">
					<tr>
						<td>{$data['user_name']}</td>
						<td>{$data['lottery_name']}</td>
						<td>{$data['site_name']}</td>
						<td>{$data['game_name']}</td>
						<td>{$data['zone']}</td>
						<td>{$data['balance']}</td>
						<td>{$data['win_balance']}</td>
						<td>{$data['add_time']|date="Y-m-d H:i:s",###}</td>
					</tr>
					</volist>
				</tbody>
			</table>
		</div>
		<div id="demo1"></div>
		<script src="__PUBLIC__/Cs/frame/layui/layui.js" charset="utf-8"></script>
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script>
			layui.use(['form','laypage', 'layer','laydate'], function() {
				var $ = layui.jquery,
					form = layui.form(),laypage = layui.laypage,layer = layui.layer,laydate = layui.laydate;
				// 分页
				laypage({
    				cont: 'demo1',
    				curr: {$pageInfo['page']},
    				pages: {$pageInfo['page_count']}, //总页数
    				groups: 5, //连续显示分页数
    				jump: function(obj, first){
				    	var page = obj.curr;
				    	if (!first) {
				    		location.href = "{:U('Game/betLog')}?id={$id}&game_id={$game_id}&zone={$zone}&room_id={$room_id}&user_name={$user_name}&page="+page;
				    	}
				    }
  				});
				//全选
				form.on('checkbox(allChoose)', function(data) {
					var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
					child.each(function(index, item) {
						item.checked = data.elem.checked;
					});
					form.render('checkbox');
				});

				$('.sl dd').click(function(){
					$('form').submit();
				});

			});
		</script>

	</body>

</html>