<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>layui</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="__PUBLIC__/Cs/frame/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/Cs/frame/mystyle.css" />
	</head>

	<body>
		<div class="layui-form">
			<table class="layui-table"> 
				<!-- <colgroup>
					<col width="50">
					<col width="100">
					<col width="80">
					<col width="250">
					<col width="150">
					<col width="100">
					<col width="100">
					<col width="160">
					<col>
				</colgroup> -->
				<thead>
					<tr>
						<th>ID</th>
						<th>日期</th>
						<th>期数</th>
						<th>开奖号码</th>
						<th>下注金额</th>
						<th>交易金额</th>
						<th>抽佣金额</th>
						<th>开奖时间</th>
						<!-- <th>操作</th> -->
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="data">
					<tr>
						<td>{$data['id']}</td>
						<td>{$data['add_time']|date="Y-m-d",###}</td>
						<td>{$data['issue']}</td>
						<td>{$data['lottery_number']}</td>
						<td>{$data['bet_balance']} 
						<if condition="$data['bet_balance'] gt 0">
						<a class="layui-btn layui-btn-mini layui-btn-warm view-bet" data-id="{$data['id']}">查看</a>
						</if>
						</td>
						<td>{$data['trade_balance']}</td>
						<td>{$data['commission']}</td>
						<td>{$data['add_time']|date="Y-m-d H:i:s",###}</td>
						<!-- <td><a class="layui-btn layui-btn-mini layui-btn-warm view-agent">开奖</a><a class="layui-btn layui-btn-mini layui-btn-warm view-agent">退款</a></td> -->
					</tr>
					</volist>
				</tbody>
			</table>
		</div>
		<div id="demo1"></div>
		<script src="__PUBLIC__/Cs/frame/layui/layui.js" charset="utf-8"></script>
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script>
			layui.use(['form','laypage', 'layer','laydate'], function() {
				var $ = layui.jquery,
					form = layui.form(),laypage = layui.laypage,layer = layui.layer,laydate = layui.laydate;
				// 分页
				laypage({
    				cont: 'demo1',
    				curr: {$pageInfo['page']},
    				pages: {$pageInfo['page_count']}, //总页数
    				groups: 5, //连续显示分页数
    				jump: function(obj, first){
				    	var page = obj.curr;
				    	if (!first) {
				    		location.href = "{$url}?lottery_id={$lottery_id}&page="+page;
				    	}
				    }
  				});

  				// 查看下注
  				$('.view-bet').on('click',function(){
  					var id = $(this).attr('data-id');
  					layer.open({
						type:2,
						title:'在线会员',
						shadeClose:true,
						shade:0.8,
						area:['80%','80%'],
						content:"{:U('Game/betLog')}?id="+id
					});
  				});

			});
		</script>
	</body>
</html>