<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>layui</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="__PUBLIC__/Cs/frame/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/Cs/frame/mystyle.css" />
	</head>

	<body>
		<div class="layui-form">
			<table class="layui-table"> 
				<thead>
					<tr>
						<th>ID</th>
						<th>玩家账号</th>
						<th>玩家昵称</th>
						<th>期数</th>
						<th>彩种</th>
						<th>玩法</th>
						<th>房间</th>
						<th>区域</th>
						<th>注额（元）</th>
						<th>输赢（元）</th>
						<th>抽佣（元）</th>
						<th>结算状态</th>
						<th>日期</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="data">
					<tr>
						<td>{$data['id']}</td>
						<td>{$data['user_name']}</td>
						<td>{$data['nickname']}</td>
						<td>{$data['issue']}</td>
						<td>{$data['lottery_name']}</td>
						<td>{$data['game_name']}</td>
						<td>{$data['site_name']}</td>
						<td>
						<a class="layui-btn layui-btn-mini layui-btn-warm look-bet-detail" data-detail='{$data["bet_detail"]}'>点击查看</a>
						</td>
						<td>{$data['bet_balance']}
						<td>{$data['profit_balance']}
						<td>{$data['commission']}
						<td><if condition="$data['finished'] eq 0">未结算<else/>已结算</if></td>
						<td>{$data['add_time']|date="Y-m-d H:i:s",###}</td>
					</tr>
					</volist>
				</tbody>
			</table>
		</div>
		<div id="demo1"></div>
		<script src="__PUBLIC__/Cs/frame/layui/layui.js" charset="utf-8"></script>
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script>
			layui.use(['form','laypage', 'layer','laydate'], function() {
				var $ = layui.jquery,
					form = layui.form(),laypage = layui.laypage,layer = layui.layer,laydate = layui.laydate;
				// 分页
				laypage({
    				cont: 'demo1',
    				curr: {$pageInfo['page']},
    				pages: {$pageInfo['page_count']}, //总页数
    				groups: 5, //连续显示分页数
    				jump: function(obj, first){
				    	var page = obj.curr;
				    	if (!first) {
				    		location.href = "{:U('Game/reportSheet')}?lottery_id={$lottery_id}&game_id={$game_id}&room_id={$room_id}&user_name={$user_name}&admin_name={$admin_name}&start_time={$start_time}&end_time={$end_time}&finished={$finished}&page="+page;
				    	}
				    }
  				});

  				// 查看区域下注
  				$('.look-bet-detail').click(function(){
  					var detail = $(this).data('detail');
  					var content = '<div style="margin:0 20px"><table class="layui-table"><thead><tr><th>区域</th><th>注额（元）</th><th>输赢（元）</th><th>抽佣（元）</th></tr></thead><tbody>';
  					for(var i=0;i<detail.length;i++){
  						var commission = '0.00';
  						if (detail[i]['commission']) {
  							commission = detail[i]['commission'];
  						}
						var trstr = '<tr><td>'+detail[i]['zone']+'</td><td>'+detail[i]['balance']+'</td><td>'+detail[i]['win_balance']+'</td><td>'+commission+'</td></tr>'
						content += trstr;
					}
					content += '</tbody></table></div>';
	
  					layer.open({
						type:1,
						title:'查看区域',
						shadeClose:true,
						shade:0.8,
						btn: '关闭',
						btnAlign: 'c',
						area:['auto', 'auto'],
						content: content
					});
  				});

			});
		</script>
	</body>
</html>