<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>房间列表</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="__PUBLIC__/Cs/frame/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/Cs/frame/mystyle.css" />
	</head>

	<body>
		<div class="my-btn-box">
			<form class="layui-form" action="{:U('Game/room')}" method="get">
			<span class="fl">
				<span class="layui-form-label">彩票类型：</span>
			    <div class="layui-input-inline sl" style="width: 120px;">
			      <select name="lottery_id">
			      	<option value="0" <if condition="$lottery_id eq 0">selected</if>>全部类型</option>
			      	<option value="1" <if condition="$lottery_id eq 1">selected</if>>北京赛车</option>
			        <option value="2" <if condition="$lottery_id eq 2">selected</if>>重庆时时彩</option>
			        <option value="3" <if condition="$lottery_id eq 3">selected</if>>幸运飞艇</option>
			    </select>
			    </div>
    		</span>
    		<!-- <span class="fl">
        		<a class="layui-btn btn-add btn-default" id="btn-add-room">新增房间</a>
    		</span> -->
    		</form>
		</div>
		<div class="layui-form">
			<table class="layui-table"> 
				<!-- <colgroup>
					<col width="50">
					<col width="100">
					<col width="100">
					<col width="100">
					<col width="100">
					<col width="100">
					<col>
				</colgroup> -->
				<thead>
					<tr>
						<th>ID</th>
						<th>彩票类型</th>
						<th>游戏类型</th>
						<th>底注</th>
						<th>房间名称</th>
						<th>人数限制</th>
						<th>最小上庄金额</th>
						<th>最大上庄金额</th>
						<th>最大下注金额</th>
						<th>在线人数</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="data">
					<tr>
						<td>{$data['site_id']}</td>
						<td>{$data['lottery_name']}</td>
						<td>{$data['game_name']}</td>
						<td>{$data['type_name']}</td>
						<td>{$data['site_name']}</td>
						<td>{$data['max_member']}</td>
						<td>{$data['less_host_banlance']}</td>
						<td>{$data['max_host_banlance']}</td>
						<td>{$data['max_bet_banlance']}</td>
						<td>
							{$data['online_count']} 
							<if condition="$data['online_count'] gt 0"> 
							<a class="layui-btn layui-btn-mini layui-btn-warm look-online-user" data-id="{$data['site_id']}">查看</a>
							</if>
						</td>
						<td>
						<a class="layui-btn layui-btn-mini layui-btn-warm view-edit" data-id="{$data['site_id']}">编辑</a>
						<!-- <a class="layui-btn layui-btn-mini layui-btn-warm view-agent">删除</a> -->
						</td>
					</tr>	
					</volist>				
				</tbody>
			</table>
		</div>
		<div id="demo1"></div>
		<script src="__PUBLIC__/Cs/frame/layui/layui.js" charset="utf-8"></script>
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script>
			layui.use(['form','laypage','layer','laydate','element'], function() {
				var $ = layui.jquery,form = layui.form(),laypage = layui.laypage,layer = layui.layer;

				// 分页
				laypage({
    				cont: 'demo1',
    				curr: {$pageInfo['page']},
    				pages: {$pageInfo['page_count']}, //总页数
    				groups: 5, //连续显示分页数
    				jump: function(obj, first){
				    	var page = obj.curr;
				    	if (!first) {
				    		location.href = "{:U('Game/room')}?lottery_id={$lottery_id}&page="+page;
				    	}
				    }
  				});

  				// 查看在线会员
  				$('.look-online-user').on('click',function(){
  					var room_id = $(this).attr('data-id');
  					layer.open({
						type:2,
						title:'在线会员',
						shadeClose:true,
						shade:0.8,
						area:['600px','550px'],
						content:"{:U('Game/onlineUser')}?room_id="+room_id
					});
  				});

  				// 编辑
  				$('.view-edit').on('click',function(){
  					var site_id = $(this).attr('data-id');
  					layer.open({
						type:2,
						title:'编辑房间',
						shadeClose:true,
						shade:0.8,
						area:['400px','535px'],
						content:"{:U('Game/editRoom')}?site_id="+site_id
					});
  				});

				$('.sl dd').click(function(){
					$('form').submit();
				});
			});
		</script>
	</body>
</html>