<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>代理账号列表</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="__PUBLIC__/Cs/frame/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/Cs/frame/mystyle.css" />
		<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
	</head>

	<body>
		<if condition="$pid neq 0">
		<span class="layui-breadcrumb" lay-separator=">" style="margin-top: 10px" >
			<a href="{:U('User/agent')}">首页</a>
		  	<volist name="parent" id="data">
		  	<a href="{:U('User/agent',['pid'=>$data['user_id']])}">{$data['user_name']}</a>
		  	</volist>
		</span>
		</if>
		<div class="my-btn-box">
			<form class="layui-form" action="{:U('User/agent')}" method="get">
			<span class="fl">
        		<div class="layui-form-item">
			    <div class="layui-input-inline sl" style="width: 120px;">
			      <select name="rate">
			      	<option value="-1" <if condition="$rate eq -1">selected</if>>全部代理</option>
			        <option value="1.0" <if condition="$rate eq 1.0">selected</if>>1.0</option>
			        <option value="0.8" <if condition="$rate eq 0.8">selected</if>>0.8</option>
			        <option value="0.6" <if condition="$rate eq 0.6">selected</if>>0.6</option>
			        <option value="0.4" <if condition="$rate eq 0.4">selected</if>>0.4</option>
			        <option value="0.35" <if condition="$rate eq 0.35">selected</if>>0.35</option>
			        <option value="0.3" <if condition="$rate eq 0.3">selected</if>>0.3</option>
			        <option value="0.25" <if condition="$rate eq 0.25">selected</if>>0.25</option>
			        <option value="0.2" <if condition="$rate eq 0.2">selected</if>>0.2</option>
			        <option value="0.15" <if condition="$rate eq 0.15">selected</if>>0.15</option>
			        <option value="0.1" <if condition="$rate eq 0.1">selected</if>>0.1</option>
			        <option value="0.05" <if condition="$rate eq 0.05">selected</if>>0.05</option>
			    </select>
			    </div>
			    <a class="layui-btn layui-btn-danger radius btn-delect" id="btn-delete-all">批量冻结</a>
				<a class="layui-btn btn-add btn-default" id="btn-add-agent">新增代理</a>
				<a class="layui-btn btn-add layui-btn-normal" id="btn-rank">流水排名</a>
			  </div>
    		</span>
    		<span class="fr">
     		   <span class="layui-form-label">搜索条件：</span>
				<div class="layui-input-inline">
					<input type="text" autocomplete="off" name="user_name" placeholder="请输入账号" class="layui-input" value="{$user_name}">
				</div>
				<button class="layui-btn mgl-20">查询</button>
			</span>
    		</form>
		</div>



		<div class="layui-form">
			<table class="layui-table"> 
				<thead>
					<tr>
						<th><input type="checkbox" lay-skin="primary" lay-filter="allChoose"></th>
						<th>ID</th>
						<th>上级</th>
						<th>登陆账号</th>
						<th>别名</th>
						<th>返点(%)</th>
						<th>资金</th>
						<th>直属代理</th>
						<th>直属会员</th>
						<th>最后登录</th>
						<th>IP地址</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="data">
					<tr>
						<td><input type="checkbox" name="id" lay-skin="primary" value="{$data['user_id']}"></td>
						<td>{$data['user_id']}</td>
						<td>
						<notempty name="data['admin_name']">
						{$data['admin_name']} <a class="layui-btn layui-btn-mini layui-btn-warm view-up-agent" data-text="{$data['up_agent']}">查看</a>
						</notempty>
						</td>
						<td><a href="{:U('User/agent',['pid'=> $data['user_id']])}" title="查看下级代理" style="color: blue">{$data['user_name']}</a></td>
						<td>{$data['nickname']}</td>
						<td>{$data['rate']}</td>
						<td>{$data['balance']}</td>
						<td>{$data['agent_count']}</td>
						<td>{$data['user_count']}</td>
						<td>{$data['add_time']}</td>
						<td>{$data['login_ip']}</td>
						<td>
						<a class="layui-btn layui-btn-mini layui-btn-warm view-agent" data-id="{$data['user_id']}">查看/编辑</a>
						<if condition="$data['status'] eq 1">
						<a class="layui-btn layui-btn-mini layui-btn-warm freeze-user" data-id="{$data['user_id']}">冻结</a>
						<else/>
						<a class="layui-btn layui-btn-mini layui-btn-danger unfreeze-user" data-id="{$data['user_id']}">解除冻结</a>
						</if>
						<a class="layui-btn layui-btn-mini layui-btn-warm user-income" data-id="{$data['user_id']}">收益记录</a></td>
					</tr>
					</volist>
				</tbody>
			</table>
		</div>
		<div id="demo1"></div>
		<script src="__PUBLIC__/Cs/frame/layui/layui.js" charset="utf-8"></script>
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script>
			layui.use(['form','laypage','layer','laydate','element'], function() {
				var $ = layui.jquery,
					form = layui.form(),laypage = layui.laypage,layer = layui.layer,laydate = layui.laydate;
				// 分页
				laypage({
    				cont: 'demo1',
    				curr: {$pageInfo['page']},
    				pages: {$pageInfo['page_count']}, //总页数
    				groups: 5, //连续显示分页数
    				jump: function(obj, first){
				    	var page = obj.curr;
				    	if (!first) {
				    		location.href = "{:U('User/agent')}?user_name={$user_name}&rate={$rate}&page="+page;
				    	}
				    }
  				});

  				// 查看上级
  				$('.view-up-agent').on('click',function(){
  					var text = $(this).data('text');
				      layer.open({
				        type: 1
				        ,content: '<div style="padding: 20px 20px;">上级代理：'+ text +'</div>'
				        ,btn: '关闭'
				        ,shadeClose:true
				        ,btnAlign: 'c' //按钮居中
				        ,shade: 0 //不显示遮罩
				      });
  				});

  				// 编辑代理
  				$('.view-agent').on('click',function(){
  					var user_id = $(this).attr('data-id');
  					layer.open({
						type:2,
						title:'编辑代理',
						shadeClose:true,
						shade:0.8,
						area:['600px','550px'],
						content:"{:U('User/editAgent')}?user_id="+user_id
					});
  				});

  				// 新添代理
  				$('#btn-add-agent').on('click',function(){
  					layer.open({
						type:2,
						title:'新添代理',
						shadeClose:true,
						shade:0.8,
						area:['600px','550px'],
						content:"{:U('User/addAgent')}"
					});
  				});

  				// 收益记录
  				$('.user-income').on('click',function(){
  					var user_id = $(this).attr('data-id');
  					layer.open({
						type:2,
						title:'收益记录',
						shadeClose:true,
						shade:0.8,
						area:['650px','550px'],
						content:"{:U('User/adminWasteBook')}?user_id="+user_id
					});
  				});

  				$('#btn-rank').on('click',function(){
  					layer.open({
						type:2,
						title:'流水排名',
						shadeClose:true,
						shade:0.8,
						area:['650px','620px'],
						content:"{:U('user/agentRank')}"
					});
  				});
				//全选
				form.on('checkbox(allChoose)', function(data) {
					var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
					child.each(function(index, item) {
						item.checked = data.elem.checked;
					});
					form.render('checkbox');
				});

				// 批量冻结
  				$('#btn-delete-all').click(function(){
			        var ids = $("input:checkbox[name=id]:checked").map(function(index,elem) {
			            return $(elem).val();
			        }).get().join(',');
			        if (ids) {
			        	$.post("{:U('User/freezeAgent')}",{user_id:ids},function(res){
	  						if(res.code > 0){
					            layer.msg(res.msg,{time:1800,icon: 1},function(){
					                location.reload();
					            });
					        }else{
					            layer.msg(res.msg,{time:1800,icon: 5});
					        }
	  					},'json');
			        }
  				});

  				// 冻结
  				$('.freeze-user').click(function(){
			        var id = $(this).attr('data-id');
		        	$.post("{:U('User/freezeAgent')}",{user_id:id},function(res){
  						if(res.code > 0){
				            layer.msg(res.msg,{time:1800,icon: 1},function(){
				                location.reload();
				            });
				        }else{
				            layer.msg(res.msg,{time:1800,icon: 5});
				        }
  					},'json');
  				});

  				// 解除冻结
  				$('.unfreeze-user').click(function(){
			        var id = $(this).attr('data-id');
		        	$.post("{:U('User/unfreezeAgent')}",{user_id:id},function(res){
  						if(res.code > 0){
				            layer.msg(res.msg,{time:1800,icon: 1},function(){
				                location.reload();
				            });
				        }else{
				            layer.msg(res.msg,{time:1800,icon: 5});
				        }
  					},'json');
  				});
  				
  				$('.sl dd').click(function(){
					var type = $(this).attr('lay-value');
					$('form').submit();
				});
			});
		</script>
	</body>
</html>