<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>会员资金记录</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="__PUBLIC__/Cs/frame/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/Cs/frame/mystyle.css" />
	</head>

	<body>
		<if condition="$user_id eq 0">
		<div class="my-btn-box"> 
			<form class="layui-form" action="{:U('User/userLog')}" method="get">
			<span class="fr">
     		   <span class="layui-form-label">搜索条件：</span>
				<div class="layui-input-inline">
					<input type="text" autocomplete="off" placeholder="请输入账号" name="user_name" class="layui-input" value="{$user_name}">
				</div>
				<button class="layui-btn mgl-20">查询</button>
			</span>
    		</form>
		</div>
		</if>
		<div class="layui-form">
			<table class="layui-table"> 
				<thead>
					<tr>
						<th>ID</th>
						<if condition="$user_id eq 0">
						<th>用户账号</th>
						</if>
						<th>类型</th>
						<th>内容</th>
						<th>日期</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="data">
					<tr>
						<td>{$data['id']}</td>
						<if condition="$user_id eq 0">
						<td>{$data['user_name']}</td>
						</if>
						<td>{$data['title']}</td>
						<td>{$data['content']}</td>
						<td>{$data['add_time']|date="Y-m-d H:i:s",###}</td>
					</tr>
					</volist>
				</tbody>
			</table>
		</div>
		<div id="demo1"></div>
		<script src="__PUBLIC__/Cs/frame/layui/layui.js" charset="utf-8"></script>
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script>
			layui.use(['form','laypage', 'layer','laydate'], function() {
				var $ = layui.jquery,
					form = layui.form(),laypage = layui.laypage,layer = layui.layer;
				// 分页
				laypage({
    				cont: 'demo1',
    				curr: {$pageInfo['page']},
    				pages: {$pageInfo['page_count']}, //总页数
    				groups: 5, //连续显示分页数
    				jump: function(obj, first){
				    	var page = obj.curr;
				    	if (!first) {
				    		location.href = "{:U('User/userLog')}?user_id={$user_id}&user_name={$user_name}&page="+page;
				    	}
				    }
  				});
				//全选
				form.on('checkbox(allChoose)', function(data) {
					var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
					child.each(function(index, item) {
						item.checked = data.elem.checked;
					});
					form.render('checkbox');
				});

			});
		</script>
	</body>
</html>