<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>会员资金记录</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="__PUBLIC__/Cs/frame/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/Cs/frame/mystyle.css" />
	</head>

	<body>
		<div class="layui-form">
			<table class="layui-table"> 
				<colgroup>
					<col width="50">
					<col width="100">
					<col width="100">
					<col width="100">
					<col width="100">
					<col width="150">
					<col>
				</colgroup>
				<thead>
					<tr>
						<th>ID</th>
						<th>账变类型</th>
						<th>之前余额</th>
						<th>交易金额</th>
						<th>当前金额</th>
						<th>时间</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="data">
					<tr>
						<td>{$data['id']}</td>
						<td>{$data['type_name']}</td>
						<td>{$data['before_balance']}</td>
						<td>{$data['change_balance']}</td>
						<td>{$data['after_balance']}</td>
						<td>{$data['add_time']|date="Y-m-d H:i:s",###}</td>
					</tr>
					</volist>
				</tbody>
			</table>
		</div>
		<div id="demo1"></div>
		<script src="__PUBLIC__/Cs/frame/layui/layui.js" charset="utf-8"></script>
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script>
			layui.use(['form','laypage', 'layer','laydate'], function() {
				var $ = layui.jquery,
					form = layui.form(),laypage = layui.laypage,layer = layui.layer,laydate = layui.laydate;
				// 分页
				laypage({
    				cont: 'demo1',
    				curr: {$pageInfo['page']},
    				pages: {$pageInfo['page_count']}, //总页数
    				groups: 5, //连续显示分页数
    				jump: function(obj, first){
				    	var page = obj.curr;
				    	if (!first) {
				    		location.href = "{:U('User/userWasteBook')}?user_id={$user_id}&page="+page;
				    	}
				    }
  				});
				//全选
				form.on('checkbox(allChoose)', function(data) {
					var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
					child.each(function(index, item) {
						item.checked = data.elem.checked;
					});
					form.render('checkbox');
				});

			});
		</script>
	</body>
</html>